/* GENERICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: white;
}

body > div {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    height: 100vh;
    overflow-y: scroll;
}


/* UTILITIES */

.posrel {
    position: relative;
}

.posabs {
    position: absolute;
}

.h-100 {
    height: 100px;
}

.h-80 {
    height: 80px;
}

.bgc-grey {
    background-color: grey;
}

.bgc-black {
    background-color: black;
}

/* BORDER TOP */

.border-top > .posabs {
    top: 5px;
    right: 5px;
}

.border-top .btn {
    background-color: #4A4A4A;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}



