/* GENERICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body > div {
    height: 100vh;
    display: flex;
    flex-direction: column;
}


/* UTILITIES */

.posrel {
    position: relative;
}

.posabs {
    position: absolute;
}

.h-100 {
    height: 100px;
}

.h-80 {
    height: 80px;
}






.grey {
    background-color: grey;
}

.black {
    background-color: black;
    height: 100vh;
    overflow-y: scroll;
    color: white;
}


/* BORDER TOP */

.border-top > .posabs {
    top: 5px;
    right: 10px;
}