/* GENERICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: white;
}

.grid-container {
    width: 90%;
    margin: 20px auto;
}

body > div {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    height: 100vh;
    overflow-y: scroll;
}

.inline-bl {
    display: inline-block;
}


/* UTILITIES */

.posrel {
    position: relative;
}

.posabs {
    position: absolute;
}

.h-100 {
    height: 100px;
}

.h-80 {
    height: 80px;
}

.bgc-grey {
    background-color: #222;
}

.bgc-black {
    background-color: black;
}

/* BORDER TOP */

.border-top > .posabs {
    top: 5px;
    right: 5px;
}

.border-top .btn {
    background-color: #4A4A4A;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}


/* HUUUUUUUUUUUGE GRID */

.posabs.microphone {
    bottom: 3px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
}

.posabs.microphone::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900; 
    content: "\f131";
    margin-right: 5px;
}

/* ACTIONS BELOW */

div .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.actions > div:not(.end-meeting) {
    font-size: 2.5rem;
}